<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Pagina de contactanos</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
	<form class="container">
		<h1>CONTACTANOS</h1>
		<p></p>
  <div class="container">
    <label for="exampleInputEmail1" class="form-label">Correo Electronico</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text"></div>
  </div>
  <div class="container">
  	<label for="exampleInputEmail1" class="form-label">Nombre</label>
    <input type="Nombre" class="form-control" id="exampleInputEmail1" aria-describedby="Nombre">
  </div>
  <div class="container">
  	<label for="exampleInputEmail1" class="form-label">apellidos</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="Apellidos completos">
  </div>
  <div class="container">
    <label for="exampleInputPassword1" class="form-label">Asunto</label>
    <input type="Asunto" class="form-control" id="Asunto">
  </div>
  <div class="container">
  	<label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="margin-right">
  <p></p>
  <button type="Enviar" class="btn btn-primary" >Enviar</button>
  <button type="Menu Principal" class="btn btn-primary"><a href="index.ejs" class="boton-regresar">Regresar al Menú Principal</a></button>
  </div>
</form>
</body>
</html>